{
    "linters": {
      "*.{js,jsx}": [
        "prettier --write",
        "eslint --fix",
        "git add"
      ],
      "ignore": [
        "ios",
        "android",
        "node_modules"
      ]
    }
}
